<div class="login-container">
    <form>
        <h2>Reset your password</h2>
        <label>New password</label>
        <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password" (ngModelChange)="passwordValidation()">
        <div class="prompt" *ngIf="!isPasswordStrong">The password must be at least 10 characters long, contain uppercase and lowercase characters of the Latin alphabet, numbers and special characters</div>
        <button [disabled]="!isPasswordStrong" (click)="resetPassword()">Reset</button>
    </form>
</div>