input[type="text"] {
    border: 0px;
    background: #ffffff;
    outline: none;
    height: 24px;
    width: 1300px;
    color: #000000;
    font-size: 14px;
 }

textarea {
    border: 0px;
    background: #ffffff;
    outline: none;
    height: 300px;
    width: 1300px;
    color: #000000;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
 }

button {
    height: 34px;
    border: 0px;
    border-radius: 3px;
    padding-top: 0;
    color: white;
    background-color: #65a3be;
    padding: 10px 10px;
}

button:hover {
    background-color: #4986A1;
}