
<form #addPostForm = "ngForm" (ngSubmit) = "onAddPost(addPostForm)">
    <p>
        <input type="text" id="title" name="title" placeholder="Title" ngModel>
    </p>
    <p>
        <textarea type="text" name="value" placeholder="Value" ngModel></textarea>
        <!-- <input type="text" name="value" placeholder="Value" ngModel> -->
    </p>
    <p>
        <input type="text" id="tags" name="tags" placeholder="Tags">
    </p>
    <p>
        <input type="file" id="files" name="file" (change) = "onAddFiles($event)" multiple>
    </p>
    <button type="submit">Add post</button>
</form>