<p>
    <a class="user-nickname" href = {{userUrl}}{{post.userId}}>{{user.nickname}}</a>
    &nbsp;
    <span class="format-date">{{formatDate}}</span>
</p>
<span class="post-title">{{post.title}}</span>
<p>
    <span *ngFor="let tag of post.postTags">
        <a  href={{searchUrl}}{{tag.value}} class="post-tag">{{tag.value}}</a>
        &nbsp;
    </span>
</p>
<p *ngFor="let value of splitValue">{{value}}</p>

<div id="slider"  *ngIf = "showSlider">
    <div id="slider-line">
        <div class="image-wrapper" *ngFor="let link of urls">
            <img src="{{link.url}}" (click) = "openImage(link.url)" class="mini-image">
        </div>
    </div>
</div>
<p *ngIf = "showSlider"><button (click) = "prev()">prev</button>
    <button (click) = "next()">next</button>
</p>

<p>
    <button (click)="onAddMark(1)" class="mark-button">&#8593;</button>
    <span class="rating">{{rating}}</span>
    <button (click)="onAddMark(-1)" class="mark-button">&#8595;</button>
</p>

<div *ngIf = "showOverlay" (click) = "hideOverlay()" class="overlay">
    <img [src]="openImageSrc" class="open-image">
</div>