.nickname {
    color: #343434;
    font-size: 22px;
    font-weight: 600;
}

.profile-wrapper {
    display: flex;
    justify-content: space-between;
}

button {
    height: 34px;
    border: 0px;
    border-radius: 3px;
    padding-top: 0;
    color: white;
    padding: 10px 10px;
}

.showAddPostButton {
    background-color: #65a3be;
}

.showAddPostButton:hover {
    background-color: #4986A1;
}

.showPromoteButton {
    background-color: #be6565;
}

.showPromoteButton:hover {
    background-color: #a14949;
}